doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css', type="text/css")
        link(rel='shortcut icon', href='/images/favicon.ico', type="image/x-icon")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,300italic', type="text/css")


        script(src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js")
    body
        section.main-container

            a.brand(href='/'): img(src="/images/logo_white.png")

            nav.navbar
                a bla1
                a bla2
                a bla3


            block content